openapi: "3.1.0"
info:
  title: WAOOAW Conversational Employment Compatibility Scan Candidate API
  version: "1.0.0-candidate.1"
  contact:
    name: WAOOAW Architecture
  description: |
    Private Business Platform contract for exact-inventory all-agent employment-interface
    compatibility scanning. It runs on the existing BP deployable, creates no activation authority
    and fails closed on partial, stale, unknown, mixed-major or missing evidence.
servers:
  - url: https://business-platform.internal.waooaw
tags:
  - name: Employment Compatibility
security:
  - ServiceBearerAuth: []
paths:
  /internal/v1/employment-interface/compatibility-scans:
    post:
      tags: [Employment Compatibility]
      operationId: startEmploymentCompatibilityScan
      summary: Start or replay one exact-inventory all-agent compatibility scan
      description: |
        Binds one immutable offered-agent inventory and required protocol version. Acceptance is not
        activation eligibility; callers reconcile the scan result by scan identity.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/CorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompatibilityScanRequestV1" }
      responses:
        "202":
          description: Scan responsibility accepted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompatibilityScanReceiptV1" }
        "200":
          description: Identical completed scan replayed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompatibilityScanResultV1" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
        "503": { $ref: "#/components/responses/Unavailable" }
  /internal/v1/employment-interface/compatibility-scans/{scanId}:
    get:
      tags: [Employment Compatibility]
      operationId: getEmploymentCompatibilityScan
      summary: Reconcile one all-agent compatibility scan
      description: Returns the current immutable result without converting partial or unknown evidence into eligibility.
      parameters:
        - $ref: "#/components/parameters/ScanId"
        - $ref: "#/components/parameters/CorrelationId"
      responses:
        "200":
          description: Current scan result
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompatibilityScanResultV1" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/Unavailable" }
components:
  securitySchemes:
    ServiceBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Platform service assertion bound to BP audience and compatibility-scan purpose.
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, format: uuid }
    CorrelationId:
      name: X-Correlation-Id
      in: header
      required: true
      schema: { type: string, format: uuid }
    ScanId:
      name: scanId
      in: path
      required: true
      schema: { type: string, format: uuid }
  responses:
    InvalidRequest:
      description: Invalid or incomplete exact-inventory request
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/CompatibilityProblemV1" }
    Unauthorized:
      description: Invalid service assertion, audience or purpose
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/CompatibilityProblemV1" }
    NotFound:
      description: Scan absent or inaccessible
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/CompatibilityProblemV1" }
    Conflict:
      description: Idempotency key, inventory digest or required-version conflict
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/CompatibilityProblemV1" }
    Unavailable:
      description: Required owner or exact evidence is unavailable
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/CompatibilityProblemV1" }
  schemas:
    CompatibilitySchemaVersion:
      type: string
      const: "1.0"
    OfferedAgentCandidateV1:
      type: object
      additionalProperties: false
      required:
        - agentType
        - agentVersion
        - publicationState
        - declaredProtocolVersion
        - manifestVersion
        - manifestDigest
        - domainAdapterVersion
        - domainAdapterDigest
      properties:
        agentType: { type: string, minLength: 1, maxLength: 100 }
        agentVersion: { type: string, minLength: 1, maxLength: 64 }
        publicationState: { type: string, enum: [OFFERED, CANDIDATE] }
        declaredProtocolVersion: { type: string, const: "1.0-candidate" }
        manifestVersion: { type: string, minLength: 1, maxLength: 64 }
        manifestDigest: { type: string, pattern: "^[a-f0-9]{64}$" }
        domainAdapterVersion: { type: string, minLength: 1, maxLength: 64 }
        domainAdapterDigest: { type: string, pattern: "^[a-f0-9]{64}$" }
    CompatibilityScanRequestV1:
      type: object
      additionalProperties: false
      required:
        - schemaVersion
        - requiredProtocolVersion
        - offeredInventoryVersion
        - offeredInventoryDigest
        - agents
      properties:
        schemaVersion: { $ref: "#/components/schemas/CompatibilitySchemaVersion" }
        requiredProtocolVersion: { type: string, const: "1.0-candidate" }
        offeredInventoryVersion: { type: string, minLength: 1, maxLength: 64 }
        offeredInventoryDigest: { type: string, pattern: "^[a-f0-9]{64}$" }
        agents:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/OfferedAgentCandidateV1" }
    CompatibilityScanState:
      type: string
      enum: [ACCEPTED, RUNNING, PASS, FAIL, UNKNOWN]
    CompatibilityScanReceiptV1:
      type: object
      additionalProperties: false
      required:
        - schemaVersion
        - scanId
        - state
        - requiredProtocolVersion
        - offeredInventoryVersion
        - offeredInventoryDigest
        - acceptedAt
        - reconciliationUri
      properties:
        schemaVersion: { $ref: "#/components/schemas/CompatibilitySchemaVersion" }
        scanId: { type: string, format: uuid }
        state: { type: string, enum: [ACCEPTED, RUNNING] }
        requiredProtocolVersion: { type: string, const: "1.0-candidate" }
        offeredInventoryVersion: { type: string, minLength: 1, maxLength: 64 }
        offeredInventoryDigest: { type: string, pattern: "^[a-f0-9]{64}$" }
        acceptedAt: { type: string, format: date-time }
        reconciliationUri: { type: string, format: uri-reference }
    CompatibilityReasonCode:
      type: string
      enum:
        - COMPATIBLE
        - MANIFEST_MISSING
        - MANIFEST_UNPARSABLE
        - MANIFEST_VERSION_UNSUPPORTED
        - MANIFEST_DECLARATION_INCOMPLETE
        - MANIFEST_REFERENCE_UNRESOLVED
        - CONFORMANCE_SCENARIO_MISSING
        - CONFORMANCE_EVIDENCE_MISSING
        - CONFORMANCE_EVIDENCE_STALE
        - CONFORMANCE_EVIDENCE_VERSION_MISMATCH
        - DOMAIN_ADAPTER_STALE
        - MIXED_MANDATORY_MAJOR_VERSION
        - OWNER_UNAVAILABLE
        - RESULT_UNKNOWN
    AgentCompatibilityResultV1:
      type: object
      additionalProperties: false
      required:
        - agentType
        - agentVersion
        - manifestVersion
        - domainAdapterVersion
        - state
        - reasonCodes
        - evidenceRefs
      properties:
        agentType: { type: string, minLength: 1, maxLength: 100 }
        agentVersion: { type: string, minLength: 1, maxLength: 64 }
        manifestVersion: { type: string, minLength: 1, maxLength: 64 }
        domainAdapterVersion: { type: string, minLength: 1, maxLength: 64 }
        state: { type: string, enum: [PASS, FAIL, UNKNOWN] }
        reasonCodes:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/CompatibilityReasonCode" }
        unresolvedRefs:
          type: array
          items: { type: string, minLength: 1, maxLength: 240 }
        evidenceRefs:
          type: array
          items: { type: string, minLength: 1, maxLength: 240 }
      allOf:
        - if:
            properties:
              state: { const: PASS }
            required: [state]
          then:
            properties:
              reasonCodes:
                minItems: 1
                maxItems: 1
                items: { const: COMPATIBLE }
              evidenceRefs:
                minItems: 1
    CompatibilityScanResultV1:
      type: object
      additionalProperties: false
      required:
        - schemaVersion
        - scanId
        - state
        - requiredProtocolVersion
        - offeredInventoryVersion
        - offeredInventoryDigest
        - agentResults
        - inventoryComplete
        - activationEligible
        - rollbackSafe
        - observedAt
      properties:
        schemaVersion: { $ref: "#/components/schemas/CompatibilitySchemaVersion" }
        scanId: { type: string, format: uuid }
        state: { $ref: "#/components/schemas/CompatibilityScanState" }
        requiredProtocolVersion: { type: string, const: "1.0-candidate" }
        offeredInventoryVersion: { type: string, minLength: 1, maxLength: 64 }
        offeredInventoryDigest: { type: string, pattern: "^[a-f0-9]{64}$" }
        agentResults:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/AgentCompatibilityResultV1" }
        inventoryComplete:
          type: boolean
          description: True only when every exact offered-inventory row has one terminal result.
        activationEligible:
          type: boolean
          description: True only when state is PASS and every exact offered-agent result is PASS.
        rollbackSafe:
          type: boolean
          description: True only when the prior mandatory version remains fully readable and bounded rollback evidence passes.
        completedAt: { type: string, format: date-time }
        observedAt: { type: string, format: date-time }
      allOf:
        - if:
            properties:
              state: { enum: [ACCEPTED, RUNNING, FAIL, UNKNOWN] }
            required: [state]
          then:
            properties:
              activationEligible: { const: false }
        - if:
            properties:
              state: { enum: [PASS, FAIL] }
            required: [state]
          then:
            required: [completedAt]
        - if:
            properties:
              activationEligible: { const: true }
            required: [activationEligible]
          then:
            properties:
              state: { const: PASS }
              inventoryComplete: { const: true }
              rollbackSafe: { const: true }
              agentResults:
                type: array
                minItems: 1
                items:
                  allOf:
                    - $ref: "#/components/schemas/AgentCompatibilityResultV1"
                    - properties:
                        state: { const: PASS }
                      required: [state]
    CompatibilityProblemV1:
      type: object
      additionalProperties: false
      required: [type, title, status, code, correlationId]
      properties:
        type: { type: string, format: uri }
        title: { type: string, minLength: 1, maxLength: 160 }
        status: { type: integer, minimum: 400, maximum: 599 }
        detail: { type: string, maxLength: 500 }
        code:
          type: string
          enum:
            - COMPATIBILITY_INVALID
            - COMPATIBILITY_UNAUTHORIZED
            - COMPATIBILITY_NOT_FOUND
            - COMPATIBILITY_CONFLICT
            - COMPATIBILITY_UNAVAILABLE
        correlationId: { type: string, format: uuid }
